/target/
/lab-client/target/
/lab-common/target/
/lab-server/target/
*.iml
.idea
*.jar
/lab-server/src/main/java/arseeenyyy/com/github/server/db/db.cfg
/lab-server/src/main/java/arseeenyyy/com/github/server/db/script.sql